.header
{
    width: 100%;
    height: 200px;
    /* border: 1px solid #fff;  */
    padding: 0px 20px;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    align-items: center;
    
}

/* ======================IMAGEN SUPERIOR DEL HEADER============================ */

.imagen_header
{
    width: 400px;
    height: 400px;
    padding: 20px;
    border-radius: 50%;
    position: relative; 
    top: -90px;  
    
}

.title_header
{
    position: absolute;
    top: 200px;
    width: 350px;
    left: 30px;
    height: auto;
}









