.container_residents
{
    max-width: 1000px;
    margin: 20px auto ;
    /* background: rebeccapurple; */
    padding: 0px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(250px,100%),1fr));
    gap: 10px;
}
img
{
    width: 100%;
    height: 100%;
}

.car_resident
{
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 3px solid #8EFF8B;
    
}
.info_resident
{
    width: 100%;
    background: #000;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-top: 3px solid #8EFF8B;
    height: 100%;
   
}

.container_details_info
{
    display: flex;
    margin: 20px 0px;
    flex-direction: column;
    gap: 20px;
    
}

.color_span
{
    color: #938686;
    
}

.image_container
{
    position: relative;
    width: 100%;
    height: 100%;
}

.center
{
    top: 80%;
   width: 100%;
   position: absolute;
   height: auto;
   display: flex;
   justify-content: center;
}

.status_container
{
    
    width: 130px;
    height: 35px;
    border: 3px solid #8EFF8B;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 200;

}

.status
{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: red;
}

.unknown
{
    background: #A0A0A0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
   
}

.alive
{
    background: #8EFF8B;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.dead
{
    background: #B94343;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}


