input
{
    width: 100%;
    outline: none;
    background: #000;
    padding: 10px;
    border: 2px solid #8EFF8B;
    color: #938686;
    font-size: 1rem;
    
}

input::placeholder
{
    color: #938686;
}


.container_input
{
    width: 500px;
    max-width: 100%;
    padding: 0px 20px;
    top: 300px;
    display: flex;
    margin: 20px auto 30px auto;
   
    

    
}

button
{
    background: #568554;
    color: #fff;
    outline: none;
    border: 2px solid #8EFF8B;
    width: 200px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


  
